<div class="card-auth">
    <div>
        <img src="{{ person.avatar }}">
        <br>
        <input id="email" class="data" type="text" value="{{person.email}}" (input)="onEmailChange($event)">
        <br>
        <input id="first_name" class="data" type="text" value="{{person.first_name}}" (input)="onFirstChange($event)">
        <br>
        <input id="last_name" class="data" type="text" value="{{person.last_name}}" (input)="onLastChange($event)">
        <br>
        <button (click)="editUser()">
            Обновить данные
        </button> 
        <p id="status">{{status}}</p>
    </div>
</div>

