.card-auth {
    padding: 10px;
    margin: 10px;
    height: 350px;
    width: 300px;
    border: solid 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card-auth > div > input {
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto;
    display: block;
}

.card-auth > div > h1 {
    text-align: center;
}

input.data {
    width: 200px;
}