/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'CoFoSans';
    src: url('assets/fonts/CoFoSans-Regular.ttf');
}

* {
    text-decoration: none;
    color: black;
    font-family: 'CoFoSans';
}

.card {
    display: inline-block;
    position: relative;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: auto;
    max-width: 300px;
    border: solid 1px;
}

img {
    object-fit: cover;
    width: 128px;
    height: 128px;
}



button {
    margin: auto;
    display: block;
}

img {
    margin: auto;
    display: block;
}



p {
    text-align: center;
}

input.data {
    width: 200px;
}

