<div class="card" *ngFor="let person of this.persons">
    <a href="profile?id={{ person['id'] }}">
      <div>
          <img src="{{person['avatar']}}">
          <p>{{ person['first_name'] }} {{ person['last_name'] }}</p>
          <p name="email">{{ person['email'] }}</p>
      </div>
    </a>
    <button (click)="deleteUser(person['id'])"> ❌ Удалить </button>
   </div>

   <br>
   <div class="card" *ngFor="let resource of this.resources">
       <p>{{ resource['name'] }}</p>
       <p>{{ resource['year'] }}</p>
       <div style="background-color: {{ resource['color'] }}">
           <p>{{ resource['color'] }}</p>
       </div>
       <p>{{ resource['pantone_value'] }}</p>
   </div>
